.header {
    background-color: #c2d5fc;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.header_name {
    display: inline;
    padding: 40%;
}


.loginBlock {
    padding: 10px;
    display: block;
}

