.header {
    grid-area: h;
    background-color: #c2d5fc;
}

.header img {
    height: 60px;
}

.loginBlock {
    padding: 10px;
    height: 60px;
    display: block;
}

.loginBlock a {
    color: #58b4d6;
}
